:root {
  --green-primary: #798645;
  --beige-primary: #FEFAE0;
  --beige-secondary: #F2EED7;
  --green-secondary: #626F47;
}

body {
  background-color: var(--beige-primary);
  color: var(--green-secondary);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

nav {
  border-bottom: var(--green-primary) 2px solid;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  margin-bottom: 20px;
}

nav > button {
  background-color: var(--beige-secondary);
  border: var(--green-primary) solid 2px;
  color: var(--green-primary);
  font-size: 100%;
  font-weight: 700;
  height: 40px;
  min-width: 100px;
  white-space: nowrap;
  transition: background-color 0.3s, color 0.3s;
}

nav > button:hover {
  background-color: var(--green-primary);
  color: white;
}

.recipe-page-card {
  background-color: var(--beige-secondary);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  height: fit-content;
  margin-bottom: 20px;
  overflow: hidden;
  text-decoration: none;
  width: 150px;
}

.recipe-page-card > h3 {
  align-items: center;
  background-color: var(--green-primary);
  color: white;
  display: flex;
  font-size: 75%;
  height: 30px;
  justify-content: center;
  margin: 0;
  padding: 2px 0;
  text-align: center;
}

.recipes-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
