.recipe-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  background-color: var(--cream-light);
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
}

.recipe-img {
  aspect-ratio: 1/1;
  max-width: 375px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px;
}

.img-title {
  position: relative;
  text-align: center;
}

.recipe-title {
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--dark-olive);
  font-size: 2rem;
  font-weight: 900;
  padding: 5px;
  margin-top: -50%;
  position: absolute;
  text-align: center;
  width: 100%;
  border-radius: 5px;
}

.recipe-category {
  color: var(--dark-olive);
  font-weight: 700;
  margin: 0;
  padding: 16px 0 0;
  text-align: center;
}

.ingredients, .instructions {
  background-color: var(--beige-neutral);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
  margin: 8px 16px;
  padding: 20px;
  color: var(--dark-olive);
  font-size: 1rem;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--dark-olive);
}

.finish-recipe-btn {
  background-color: var(--olive-green);
  border: none;
  color: var(--cream-light);
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.finish-recipe-btn:hover {
  background-color: var(--dark-olive);
}

.like-favorite-btns {
  display: flex;
  gap: 16px;
  margin-bottom: 48px;
}

.like-favorite-btns button {
  background-color: var(--olive-green);
  border: none;
  color: var(--cream-light);
  font-size: 1rem;
  font-weight: bold;
  height: 40px;
  width: 80px;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.like-favorite-btns button:hover {
  background-color: var(--dark-olive);
}

.like-favorite-btns p {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--dark-olive);
  margin: 0;
}

.checked {
  text-decoration: line-through solid var(--dark-olive);
}

@media only screen and (min-width: 768px) {
  .recipe-img {
    aspect-ratio: 1/1;
    width: 600px;
  }

  .recipe-title {
    font-size: 2.5rem;
    color: var(--dark-olive);
    margin-top: -20%;
  }
}
